
@*@{ 
//ViewData["Title"] = "Home";
}*@

@{ 
    var book = ViewData["book"] as BookModel;
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore @ViewBag.Title</h1>
        <p class="lead text-muted">
            
            <h1>ID: @book.ID</h1>
            <h2>Author:@book.Author </h2>

           
            <br />
           
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>
