
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
    <h1 class="h1">Welcome to Book sTore</h1>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        alert("hello jquery");
    })
</script>
