################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web.BookStore/.vs/Web.BookStore/v16
/Web.BookStore/obj
/Web.BookStore/bin/Debug/netcoreapp3.1
/Web.BookStore/.vs/Web.BookStore/DesignTimeBuild
/Web.BookStore/.vs/Web.BookStore/config
/Web.BookStore/wwwroot/lib
